@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

:root {
  --background: #ffffff;
  --foreground: #3f3f3f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3f3f3f;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    font-size: 16px;
    line-height: 1.5;
  }
}

body {
  font-size: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: fancy;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
